/* dashboard.css */

.dashboard {
  display: flex;
  min-height: 100vh;
}

.dashboard-main {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 15vw;
  min-width: 13rem;
  position: fixed;
  height: 100vh;
  background-color: #201e1e;
  color: white;
  z-index: 99;
}

.dashboard-content {
  margin-left: 15vw; /* must match sidebar width */
  width: calc(100% - 15vw);
  padding: 20px;
  background-color: #af0606;
  height: 100vh;
  overflow-y: auto;
}
