/* ================== Sidebar Container ================== */
.sidebar_main {
    background-color: #111;
    color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  /* Collapsed Sidebar */
  .sidebar_main.sidebar {
    width: 5rem;
  }
  
  /* ================== Heading ================== */
  .sidebar_main h2 {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }
  
  .sidebar_main.sidebar h2 {
    opacity: 0;
    height: 0;
  }
  
  /* ================== Sidebar Friends Wrapper ================== */
  .sidebar_friends {
    position: fixed;
    padding: 0 1rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgb(52, 56, 55);
    height: 100vh;
    left: 0;
    margin-left: 6rem;
    width: 15rem;
    padding-top: 3rem;
  }
  
  .sidebar_friends.message,
  .sidebar_friends.search,
  .sidebar_friends.map 
  {
    display: flex;
  }
  
  /* ================== Sidebar List ================== */
  .sidebar_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    margin: 0;
    flex-grow: 1;
  }
  
  /* ================== Sidebar Items ================== */
  .sidebar_list li {
    width: 85%;
    margin: 0 auto;
    padding: 0.75rem;
    /* border-radius: 8px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  
  .sidebar_main.sidebar .sidebar_list li {
    justify-content: center;
    width: 3rem;
    padding: 0.75rem;
  }
  
  .sidebar_list li:hover {
    background-color: #333;
    cursor: pointer;
  }
  
  /* ================== Sidebar Links ================== */
  .sidebar_Link {
    text-decoration: none;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    width: 100%;
  }
  
  .sidebar_main.sidebar .sidebar_Link .sidebar_link_name {
    display: none;
  }
  
  /* ================== More Button ================== */
  .more_btn {
    margin: 2rem 1rem;
    padding: 1rem 0.75rem ;
    background-color: rgba(52, 56, 55, 0);
    color: #fff6f6;
    border: none;
    /* border-radius: 8px; */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 95%;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
  }
  
  .more_btn:hover {
    background-color: #62615e7d;
  }

  .more_btn.sidebar .btn_text{
    display: none;
  }
  
  /* Collapsed More Button Centering */
  .sidebar_main.sidebar .more_btn {
    width: 3rem;
    padding: 0.75rem;
    font-size: 0;
  }
  